@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   CloseButton="false"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<PageTitle>GestionImprimantes</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudText Style="color:red" >Gestion des imprimantes</MudText>
            <MudSpacer></MudSpacer>
            <MudLink Href="#"><MudIcon Icon="@Icons.Material.Filled.Login" Style="color:white"></MudIcon></MudLink>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
